.about {
    width: 100vw;
    margin: 0 auto 9vh auto;
    display: grid;
    grid-template-columns: 1fr;
    color: $dark-text-color;
    position: relative;
    line-height: 110%;

    h3 {
        font-size: .8em;
        font-weight: 600;
    }

    h4 {
        font-size: .8em;
    }

    li {
        font-size: .65em;
    }

    p {
        font-size: .65em;
    }



    .site-div {
            h2 {
                background-color: $secondary-color;
                color: $light-text-color;
                border-top: 15px solid white;
                text-align: center;
                font-size: 1.3em;
                line-height: 300%;
                margin-bottom: 4vh;
                width: 100%;
                font-weight: normal;
            }
    }

    @include media-md {
        width: 85vw;
    }

    @include media-lg {
        width: 95vw;
        padding: 0 3vw 10vh 3vw;
    }

    .side-nav {
        position: fixed;
        background-color: $contrast-color;
        bottom: 33px;
        z-index: 50;
        @include media-md {
            right: 0;
            bottom: 30%;
        }
        ul {
            overflow: hidden;
            width: 100vw;

            @include media-md {
                width: 15vw;
            }

            @include media-lg {
                width: 13vw;
            }
            
            li {
                float: left;
                line-height: 100%;

                @include media-md {
                    float: none;
                    display: block;
                }

                a {
                    &:hover {
                        background-color: rgba($accent-color, .7);
                        color: white;
                        @include transition-ease;
                    }
                    font-size: .85em;
                    display: block;
                    color: $dark-text-color;
                    padding: 7px 9px; 
                    margin: 0 0 0 3px;
                    
                    @include media-md {
                        padding: 15px;
                        float: right;
                        width: 100%;
                    }
                }
            }
        }
    }
    .name {
        background-image: url("/images/dragonfly.jpg");
        height: 100vh;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;

        &__text {
            padding: 8vh 3vw;
            background-color: rgba($secondary-color, .75);
    
            &--first-name {
                font-size: 2.3em;
                font-weight: bold;
                color: $light-text-color;
            }
    
            &--tagline {
                color: $contrast-color;
                font-weight: normal;
                padding-top: 4vh;
            }
        }
        &__scroll-down {
            color: $contrast-color;
            position: absolute;
            top: 60%;
            left: 50%;
            &--box {
                background-color: rgba($primary-color, .7);
                margin-left: -50%;

                @include transition-ease;
                &:hover {
                    color: $light-text-color;
                }
            }
        }
    }

    .summary {
        width: 80vw;
        margin: 0 auto;
        padding: 0 0 5vh 0;
        background-color: rgba($primary-color, .2);

        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;

            @include media-md {
                display: grid;
                grid-gap: 4vh;
                grid-template-columns: 1fr 1fr;
            }
    
            &--headshot {
                width: 70%;
                max-width: 250px;
                margin: auto;
                padding-bottom: 5vh;
    
                &-border {
                    border-radius: 50%;
                    border: 9px solid $accent-color;
                }
            }

            &--text {
                padding: .5em 1.5em 0 0;
            }
        }

        &__contact {
            text-align: center;
            line-height: 150%;

            &--email {
                color: set-text-color(rgba($contrast-color, .2));
            }
        }
    }

    .experience {
        width: 80%;
        margin: 0 auto;
        line-height: 110%;
        padding-bottom: 40px;
        background-color: rgba($contrast-color, .1);

        @include media-md {
            width: 80vw;
        }

        &__grid {
            margin: 0 auto;
            padding: 3vw;
            @include media-md {
                display: grid;
                grid-template-columns: 2.5fr 3.5fr;
                grid-column-gap: 10px;
            }

            &--location {
                p {
                    padding: 2px 0 1vh 5vw;
                    @include media-md {
                        padding-left: 2vw;
                    }
                }
                border-bottom: 2px solid $primary-color;
                @include media-md {
                    border-bottom: none;
                }
            }
            &--details {
                h4 {
                    padding-top: 8px;
                    @include media-md {
                        padding: 0 0 5px 0;
                        border-bottom: 2px solid $primary-color;
                    }
                }
                ul {
                    padding: 0 0 3vh 5vw;
                    li {
                        list-style-type: circle;
                    }
                    @include media-md {
                        padding-top: 1vh;
                    }
                }
            }
        }
    }


    .abilities {
        width: 80vw;
        margin: 0 auto;
        background-color: rgba($primary-color, .2);

        &__heading {
            width: 80%;
            padding: 7px 0 1vh 1vw;
            margin: 1.5vh auto;
            font-weight: bolder;
            border-bottom: 2px solid $contrast-color;
        }

        &__skills {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 10px;
            width: 80%;
            margin: auto;

            h3 {
                color: black;
                font-weight: bold;
                padding: 20px 0px 5px 5px;
                border-bottom: solid $contrast-color 2px;
            }
            li:first-of-type {
                padding-top: 2vh;
            }
            li {
                padding: 0 0 3px 5vw;
            }

            @include media-md {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 45px;
            }

            @include media-lg {
                grid-column-gap: 100px;
            }
        }

        &__soft-skills {
            @include media-sm {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include media-md {
                width: 80%;
                grid-column-gap: 60px;
            }

            li {
                padding: 0 0 6px 12vw;
            }
        }
    }

    .education {
        width: 80vw;
        background-color: rgba($contrast-color, .1);
        margin: 0 auto;
        padding-bottom: 4.5vh;

        &__grid {
            padding: 3vw;
            @include media-md {
                display: grid;
                grid-template-columns: 2fr 3fr;
                grid-column-gap: 10px;
            }
    
            &--location {
                border-bottom: 2px solid $primary-color;

                @include media-md {
                    border-bottom: none;
                }
            }
            &--details {

                @include media-md {
                    padding-bottom: 15px;
                }

                h4 {
                    padding-top: 8px;
                    
                    @include media-md {
                        padding: 0 0 5px 0;
                        border-bottom: 2px solid $contrast-color;
                    }
                }

                ul {
                    padding: 1vh 0 0 5vw;
                    li {
                        list-style-type: circle;
                    }
                }
            }
        }
    }

    .me-time {
        padding: 0 0 7vh 0;
        width: 75vw;
        margin: auto;

        @include media-md {
            width: 80vw;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__activities {
            width: 90%;
            margin: auto;
            display: grid;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 35vh 35vh 35vh 35vh;

            @include media-sm {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 175px 175px;
            }

            @include media-md {
                grid-template-rows: 250px 250px;
            }

            @include media-lg {
                grid-template-rows: 300px 300px;
            }

            @include media-xl {
                grid-template-rows: 350px 350px;
            }
            &--activity {
                position: relative;

                h3 {
                    text-align: center;
                    color: set-text-color($primary-color);
                    line-height: 250%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    background-color: rgba($primary-color, .9);
                    font-weight: normal;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}