.accessibility {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    color: $dark-text-color;
    position: relative;
    line-height: 110%;

    @include media-md {
        width: 100vw;
        margin: 10vh auto 9vh auto;
    }

    @include media-lg {
        width: 100vw;
        padding: 0 auto 10vh auto;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 350px 350px 350px 350px 150px;
        grid-template-areas: 
            "id-def"
            "id-why"
            "id-tech"
            "id-coding"
            "id-resources"
            "contact";
        position: relative;
        grid-gap: 10px;
        min-height: 20rem;

        &__id-def {
            background-color: $secondary-color;
            text-align: center;
            width: 100%;
            padding: 4em 0 0 0;

            &--name {
                font-size: 1.25rem;
                color: $light-text-color;
                line-height: 120%;

                @include media-sm {
                    padding: .25rem 0;
                }
            }

            &--tagline {
                font-size: $small-text-size;
                color: $contrast-color;
                line-height: 150%;
                font-weight: normal;
            }

            grid-area: id-def;

            @include media-md {
                padding: 50px 0 0 0;
            }
        }

        &__id-why {
            grid-area: id-why;
        }

        &__id-tech {
            grid-area: id-tech;
        }

        &__id-coding {
            grid-area: id-coding;
        }

        &__id-resources {
            grid-area: id-resources;
        }

        &__contact {
            grid-area: contact;
            background-color: $primary-color;
            text-align: center;
            padding-top: 10vh;
            line-height: 140%;
            height: 25vh;
            width: 100%;
            font-size: .65rem;
            color: $light-text-color;
            a {
                color: $contrast-color;
            }
            p {
                color: $light-text-color;
            }
        }

        &__link-text {
            position: absolute;
            text-align: center;
            padding: 1rem 0;
            color: $light-text-color;
            width: 100%;
            background-color: rgba($secondary-color, .75);
        }

        &__img {
            width: 100%;
            height: 100%;
        }
    } 

    @include media-md {


        .header-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px 350px 350px 200px;
            grid-template-areas: 
            "id-def         id-def"
            "id-why         id-tech"
            "id-coding      id-resources"
            "contact        contact";

            &__content {
                position: absolute;
                height: 100%;
            }
        }
    }

    @include media-lg {

        .header-grid {
            width: 100%;
            height: 90vh;
            position: relative;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 350px 350px;
            grid-gap: 10px;
            grid-template-areas: 
            "id-def       id-why         id-why          id-tech       id-tech"
            "id-coding    id-coding      id-resources    id-resources  contact";

            &__name--name {
                padding: 0 10px 1em 10px;
            }
        }
    }

    /**************************** WHAT IS INCLUSIVE DESIGN ******************/

    .id-def {

        background-color: rgba($primary-color, .1);

        &__grid--text {
            figure {
                width: 80vw;
                margin: 0 auto;
                border: 1px solid $contrast-color;
            }
            a {
                color: $accent-color;
            }
        }
    }

    .id-why {
        width: 100vw;
        margin: 0 auto;
        line-height: 110%;
        padding-bottom: 40px;
        background-color: rgba($contrast-color, .1);
    }

    .id-tech {
        background-color: rgba($primary-color, .1);
    }

    .id-coding {
        background-color: rgba($contrast-color, .1);
    }

    .id-resources {
        padding: 0 0 7vh 0;
        width: 100vw;
        margin: auto;
        background-color: rgba($primary-color, .1);

        @include media-md {
            width: 80vw;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__activities {
            width: 90%;
            margin: auto;
            display: grid;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 35vh 35vh 35vh 35vh;

            @include media-sm {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 175px 175px;
            }

            @include media-md {
                grid-template-rows: 250px 250px;
            }

            @include media-lg {
                grid-template-rows: 300px 300px;
            }

            @include media-xl {
                grid-template-rows: 350px 350px;
            }
            &--activity {
                position: relative;

                h3 {
                    text-align: center;
                    color: set-text-color($primary-color);
                    line-height: 250%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    background-color: rgba($primary-color, .9);
                    font-weight: normal;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

