/************************* ACCESSIBILITY DEFAULT PAGE STYLES *****************************/

.accessibility {
    width: 100vw;
    margin: 0 0 14vh 0;

    @include media-md {
        margin: 10vh auto 9vh auto;
    }

    @include media-lg {
        padding: 0 auto 10vh auto;
    }

    dt {
        font-weight: bold;
    }

    .site-div {
        padding: 0 0 2rem 0;
    }

/*************************************  GRID SETUP (TOP-HEADING) ******************************/
    .header-grid {
        @include top-grid-layout;

        grid-template-columns: 1fr;
        grid-template-rows: 200px 350px 350px 350px 350px 200px;
        grid-template-areas: 
            "id-def"
            "id-why"
            "id-tech"
            "id-coding"
            "id-resources"
            "contact";

        &__id-def {
            @include first-grid-box;

            grid-area: id-def;

            @include media-md {
                padding: 3em 0 0 0;
            }
        }

        &__id-why {
            grid-area: id-why;
        }

        &__id-tech {
            grid-area: id-tech;
        }

        &__id-coding {
            grid-area: id-coding;
        }

        &__id-resources {
            grid-area: id-resources;
        }
    } 

    @include media-md {
        padding: 0 3vw 2rem 3vw;
        .header-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px 350px 350px 200px;
            grid-template-areas: 
            "id-def         id-def"
            "id-why         id-tech"
            "id-coding      id-resources"
            "contact        contact";

            &__content {
                position: absolute;
                height: 100%;
            }
        }
    }

    @include media-lg {
        padding: 0 3vw 2rem 3vw;
        .header-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 350px 350px;
            grid-gap: 10px;
            grid-template-areas: 
            "id-def       id-why         id-why          id-tech       id-tech"
            "id-coding    id-coding      id-resources    id-resources  contact";

            &__name--name {
                padding: 0 10px 1em 10px;
            }
        }
    }

/**************************** WHAT IS INCLUSIVE DESIGN ******************/

    .id-def {
        padding: 2rem 0 0 0;
        background-color: rgba($primary-color, .1);

        &__grid {
            max-width: $max-content-width;
            margin: 0 auto;
            padding: 1.5rem 1rem;

            &--headshot {
                padding: 1rem 1rem 0 1rem;
                &-border {
                    width: 50%;
                    margin: 0 .5rem;
                    border-radius: 1rem;
                    border: 2px solid $contrast-color;
                    float: right;
                }
            }
            &--text {
                a {
                    color: $accent-color;
                }
                figure {
                    clear: both;
                    width: 75vw;
                   
                    margin: 0 auto;
                    max-width: $max-content-width;
                    border: 2px solid $contrast-color;
                }
            }
        }
    }


/**************************** WHY INCLUSIVE DESIGN ******************/

    .id-why {
        margin: 0 auto;
        padding-bottom: 40px;
        background-color: rgba($contrast-color, .1);

        @include media-md {
            padding: 0 2rem 0 0;
        }
    }

    .id-tech {
        background-color: rgba($primary-color, .1);
    }

    .id-coding {
        background-color: rgba($contrast-color, .1);
    }

    .id-resources {
        padding: 0 0 2rem 0;
        margin: auto;
        background-color: rgba($primary-color, .1);

        &__title {
            margin-bottom: 10px;
        }

        &__activities {
            @include grid-activity-format;
        }
    }
}
