$primary-color: #282d4f;
$secondary-color: #23103a;
$accent-color: #a0204c;
$contrast-color: #ff852d;
$light-text-color: white;
$dark-text-color: black;
$small-text-size: .7rem;
$font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: calc(1em + 1vw);
    line-height: 110%;
    font-weight: normal;
}

@mixin transition-ease {
    transition: all .3s ease-in-out;
}
@mixin contact-formatting {
    grid-area: contact;
    background-color: $primary-color;
    text-align: center;
    padding-top: 7vh;
    line-height: 140%;
    height: 25vh;
    width: 100%;
    font-size: .6rem;
    color: $light-text-color;
    a {
        color: $contrast-color;
    }
    p {
        color: $light-text-color;
    }
}

@mixin top-grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    grid-gap: 10px;
    min-height: 20rem;

    &__contact {
        @include contact-formatting;
    }

    &__link-text {
        position: absolute;
        text-align: center;
        padding: 1rem 0;
        color: $light-text-color;
        width: 100%;
        background-color: rgba($secondary-color, .75);
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

@mixin second-grid-box {
    background-color: $secondary-color;
    text-align: center;
    width: 100%;
    padding: 4em 0 0 0;

    &--name {
        font-size: 1.25rem;
        color: $light-text-color;
        line-height: 120%;

        @include media-sm {
            padding: .25rem 0;
        }
    }

    &--tagline {
        font-size: $small-text-size;
        color: $contrast-color;
        line-height: 150%;
        font-weight: normal;
    }
}

@mixin grid-activity-format {
    width: 100%;
    margin: auto;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 35vh 35vh 35vh;

    @include media-sm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 175px 175px;
    }

    @include media-md {
        grid-template-rows: 250px 250px;
    }

    @include media-lg {
        grid-template-rows: 300px 300px;
    }

    @include media-xl {
        grid-template-rows: 350px 350px;
    }

    &--activity {
        position: relative;

        h3 {
            text-align: center;
            color: set-text-color($primary-color);
            line-height: 250%;
            width: 100%;
            position: absolute;
            top: 0px;
            background-color: rgba($primary-color, .9);
            font-weight: normal;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-sm {
    @media screen and (min-width: 28em) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 48em) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 65em) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 100em) {
        @content;
    }
}