$primary-color: #282d4f;
$secondary-color: #23103a;
$accent-color: #a0204c;
$contrast-color: #ff852d;
$light-text-color: white;
$dark-text-color: black;
$font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: calc(1em + 1vw);
    line-height: 110%;
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    line-height: 125%;
}


@mixin transition-ease {
    transition: all .3s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-sm {
    @media screen and (min-width: 28em) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 48em) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 64em) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 100em) {
        @content;
    }
}