.home {
    width: 100vw;

    @include media-md {
        margin: 10vh auto 0vh auto;
    }

    .pages-grid {
        @include top-grid-layout;
        grid-template-rows: 200px 350px 350px 350px 350px 200px;
        grid-template-areas: 
            "name"
            "about"
            "projects"
            "photography"
            "design"
            "contact";

        &__name {
            background-color: $primary-color;
            text-align: center;
            width: 100%;
            padding: 2rem 0 0 0;

            &--name {
                font-size: 1.25rem;
                line-height: 120%;

                @include media-sm {
                    padding: .5rem 0 .5em 1em;
                }

                @include media-md {
                    padding: .25rem 0 .5em 1em;
                }
    
            }

            &--tagline {
                font-size: .78rem;
                color: $contrast-color;
                line-height: 150%;
                font-weight: normal;
            }
            grid-area: name;
            
        }

        &__about {
            grid-area: about;
        }

        &__projects {
            grid-area: projects;
        }

        &__photography {
            grid-area: photography;
        }

        &__design {
            grid-area: design;
        }

        &__contact {
            @include contact-formatting;
        }

        &__link-text {
            position: absolute;
            text-align: center;
            padding: 1rem 0;
            color: $light-text-color;
            width: 100%;
            background-color: rgba($secondary-color, .75);
        }

        &__img {
            width: 100%;
            height: 100%;
        }
    }

    @include media-md {
        padding: 0 3vw 10vh 3vw;
        margin: 2.5rem 0 3rem 0;

        .pages-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px 350px 350px 200px;
            grid-template-areas: 
            "name           name"
            "about          projects"
            "photography    design"
            "contact        contact";

            &__content {
                position: absolute;
                height: 100%;
            }
        }
    }

    @include media-lg {
        padding: 0 3vw 0 3vw;

        .pages-grid {
            width: 100%;
            height: 90vh;
            position: relative;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 400px 400px;
            grid-gap: 10px;
            grid-template-areas: 
            "name         about         about   projects    projects"
            "photography  photography   design  design      contact";

            &__name--name {
                padding: 0 10px 1em 10px;
            }
        }
    }
}