body {
    background-color: $light-text-color;
    // min-height: 100px;
}
.home {
    width: 80vw;
    margin: 1rem auto;

    h2 {
        font-size: 1.15em;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 40vh 40vh 40vh 40vh 30vh;
        grid-template-areas: 
            "name"
            "about"
            "projects"
            "photography"
            "design"
            "contact";
        position: relative;
        grid-gap: 10px;
        padding: 0 0 70px 0;

        &__name {

            background-color: $primary-color;
            text-align: center;
            padding-top: .5rem;
            width: 100%;

            &--name {
                font-size: 1.25em;
                line-height: 120%;
                
                @include media-sm {
                    padding: 3em 1em 1em 1em;
                }
    
                @include media-lg {
                    padding: 4em 1em 1em 1em;
                }
            }

            &--tagline {
                font-size: .78em;
                color: $contrast-color;
                line-height: 150%;
                font-weight: normal;
            }
            grid-area: name;
            
        }

        &__about {
            grid-area: about;
        }

        &__projects {
            grid-area: projects;
        }

        &__photography {
            grid-area: photography;
        }

        &__design {
            grid-area: design;
        }

        &__contact {
            grid-area: contact;
            background-color: $primary-color;
            text-align: center;
            padding-top: 10vh;
            line-height: 140%;
            height: 25vh;
            width: 100%;
            font-size: .7em;
        }

        &__link-text {
            position: absolute;
            text-align: center;
            padding: 1.5rem 0;
            color: $light-text-color;
            width: 100%;
            background-color: rgba($secondary-color, .75)
        }

        &__img {
            width: 100%;
            height: 100%;
        }
    }
}

@include media-md {
    .home {
        width: 90vw;

        .pages-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30vh 40vh 40vh 30vh;
            grid-template-areas: 
            "name           name"
            "about          projects"
            "photography    design"
            "contact        contact";

            &__content {
                position: absolute;
                height: 100%;
            }
        }
    }
}

@include media-lg {
    .home {
        width: 100vw;
        padding: 0 3vw 10vh 3vw;

        .pages-grid {
            width: 100%;
            height: 90vh;
            position: relative;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 45vh 45vh;
            grid-gap: 10px;
            grid-template-areas: 
            "name         about         about   projects    projects"
            "photography  photography   design  design      contact";

            &__name--name {
                padding: 1rem 10px;
            }

            &__contact {
                padding-top: 60%;
                a {
                    color: $contrast-color;
                }
            }
        }
    }
}