.home {
    width: 95vw;
    margin: 1em auto;

    h2 {
        font-size: 1em;
        font-weight: normal;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 40vh 40vh 40vh 40vh 30vh;
        grid-template-areas: 
            "name"
            "about"
            "projects"
            "photography"
            "design"
            "contact";
        position: relative;
        grid-gap: 10px;
        padding: 0 0 70px 0;

        &__name {

            background-color: $primary-color;
            text-align: center;
            width: 100%;
            padding: 2em 0 0 0;

            &--name {
                font-size: 1.25em;
                line-height: 120%;

                @include media-sm {
                    padding: .5em 0 .5em 1em;
                }

                @include media-md {
                    padding: .25em 0 .5em 1em;
                }
    
            }

            &--tagline {
                font-size: .78em;
                color: $contrast-color;
                line-height: 150%;
                font-weight: normal;
            }
            grid-area: name;
            
        }

        &__about {
            grid-area: about;
        }

        &__projects {
            grid-area: projects;
        }

        &__photography {
            grid-area: photography;
        }

        &__design {
            grid-area: design;
        }

        &__contact {
            grid-area: contact;
            background-color: $primary-color;
            text-align: center;
            padding-top: 10vh;
            line-height: 140%;
            height: 25vh;
            width: 100%;
            font-size: .6em;
            a {
                color: $contrast-color;
            }
        }

        &__link-text {
            position: absolute;
            text-align: center;
            padding: 1em 0;
            color: $light-text-color;
            width: 100%;
            background-color: rgba($secondary-color, .75);
        }

        &__img {
            width: 100%;
            height: 100%;
        }
    }
}

@include media-md {
    .home {
        padding: 0 3vw 10vh 3vw;

        .pages-grid {
            width: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30vh 40vh 40vh 30vh;
            grid-template-areas: 
            "name           name"
            "about          projects"
            "photography    design"
            "contact        contact";

            &__content {
                position: absolute;
                height: 100%;
            }
        }
    }
}

@include media-lg {
    .home {
        padding: 0 3vw 1vh 3vw;

        .pages-grid {
            width: 100%;
            height: 90vh;
            position: relative;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 45vh 45vh;
            grid-gap: 10px;
            grid-template-areas: 
            "name         about         about   projects    projects"
            "photography  photography   design  design      contact";

            &__name--name {
                padding: 0 10px 1em 10px;
            }

            &__contact {
                align-items: center;
                padding: 6em 0 0 0;
            }
        }
    }
}