

/************************************  NAV HAMBURGER ***********************************/

.menu-btn {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    z-index: 101;
    left: .1rem;
    top: .1rem;
    border-radius: 5px;
    // height: 20px;
    cursor: pointer;
    background-color: $secondary-color;

    @include transition-ease;

    @include media-md {
        display: none;
        transition: none;
    }

    &__burger {
        position: absolute;
        line-height: 150%;
        left: .3rem;
        top: 1rem;
        width: 28px;
        height: 4px;
        background-color: $contrast-color;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background-color: $contrast-color;
            @include transition-ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background-color: $contrast-color;
            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

/*********************************** NAVBAR **********************************/
.nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0.98;
    visibility: hidden;

    @include media-md {
        visibility: visible;
        display: block;
    }

    &.open {
        visibility: visible;
        display: block;
    }
}

@include media-md {
    .nav {
        width: 100vw;
    }
}


.menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    height: 95vh;
    background: $accent-color;
    list-style-type: none;

    &.open {
        transform: translateY(0);
    }

    @include media-md {
        display: flex;
        flex-direction: row;
        min-height: 55px;
        height: 7vh;
        justify-content: space-around;
        padding: 0;
    }

    &__item {
        transform: translateX(100vw);
        @include transition-ease;
        padding: 5px 1.75rem 5px 1.25rem;
        margin: 0;

        a {
            display: block;
            margin: 0 0 0 0;
            padding: 1.25em 0;
            width: 100%;
            

            @include media-md {
                // font-size: .7rem;
                padding: 15px 10px 5px 5px;
            }
        }

        @include media-md {
            transform: none;
            padding: 0 10px 4px 10px;

            a {
                line-height: 170%;
            }
        }

        &.open {
            transform: translateX(0);
        }

        &.active > a {
            font-weight: bold;
            color: $dark-text-color;
            @include media-md {
                color: $light-text-color;
                font-weight: normal;
                border-bottom: 3px solid $light-text-color;
            }
        }

        &:hover {
            background-color: $primary-color;
            a {
                color: $light-text-color;
            }
            
        }

        &__link {
            display: inline-block;
            font-size: .9rem;
            text-transform: uppercase;
            padding-right: 2rem;
            font-weight: 300;
            // @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

footer {
    background-color: $accent-color;
    position: fixed;
    bottom: 0;
    color: $light-text-color;
    width: 100vw;
    padding: 0;    
    font-size: $small-text-size;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;

    @include media-md {
        justify-content: space-between;
        padding: 0 1.5rem
    }


    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .social-icon {
        display: block;
        padding: .5rem;
        align-self: center;
        &:hover {
            color: $contrast-color;
            @include transition-ease;
        }
    }
    p {
        padding: .5rem 0;
        @include media-md {
            padding: 1rem 0;
        }
        color: $light-text-color;
    }
}