// ***************************  HEADING/BASE FEATURES CODE ****************************//
.photography {
    margin: 0 auto;
    width: 80vw;
    padding-bottom: 10vh;

    &__photos {
        border: 5px solid $light-text-color;
        padding-top: 2vh;
    }

    @include media-md {
        width: 85vw;
    }

    @include media-lg {
        width: 95vw;
        padding: 0 3vw 10vh 3vw;
    }

    .heading {
        background-color: $secondary-color;
        display: flex;
        flex-direction: row;
        border: 5px solid $light-text-color;
        border-bottom: none;
        
        &__image {
            display: none;
            max-width: 25%;

            @include media-md {
                display: block;
            }
        }
        
        h1 {
            display: block;
            width: 100%;
            color: $light-text-color;
            text-align: center;
            padding: 50px 10px;
            font-size: 1.75em;

            @include media-md {
                padding: none;
                line-height: 150%;
                border-right: 10px solid $light-text-color;
                border-left: 10px solid $light-text-color;
            }

            @include media-xl {
                padding-top: 7vh;
            }
        }
    }



    // ***************************  GALLERY CODE ****************************//

    #photos {
        margin: 0 auto;
        line-height: 0;
        background-color: $light-text-color;
        border-bottom: none;

        -moz-column-count:    1;
        -webkit-column-gap:   0px;
        -webkit-column-count: 1;
        -moz-column-gap:      0px;
        column-count:         1;
        column-gap:           0px;  

        img {
            padding: 7px;
            cursor: pointer;
            margin: 0 auto;

            .img-substrate {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    /*********************************COLUMN RESPONSIVE FORMATTING************************/
    @include media-sm {
        #photos, .photography__kaden-ideas {
            -moz-column-count:    1;
            -webkit-column-count: 1;
            column-count:         1;
        }
    }
    @include media-md {
        #photos, .photography__kaden-ideas {
            -moz-column-count:    2;
            -webkit-column-count: 2;
            column-count:         2;
        }
    }
    @include media-lg {
        #photos {
            -webkit-column-count: 3;
            -moz-column-count:    3;
            column-count:         3;
    
        }
    }
    @include media-xl {
        #photos {
            -webkit-column-count: 4;
            -moz-column-count:    4;
            column-count:         4;
    
        }
    }
}

// ***************************  GALLERY ONCLICK EXPAND IMAGE CODE ****************************//

.photography {
    position: relative;

    .substrate {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        text-align: center;
    }
        
    .substrate-bg {
        position: fixed;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        top: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;
        cursor: pointer;
    }
        
    .substrate-img {
        position: fixed;
        padding-top: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50vh;
        z-index: 2;
        margin: 0 auto;
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80vh;
        cursor: pointer;
    }

    // ***************************  KADEN WHY PHOTOGRAPHY ****************************//

    &__kaden-ideas, &__photos {
        background-color: rgba($secondary-color, 0.9);
        margin: 0 auto;
        p {
            text-align: center;
            padding: 2vh;
            font-size: .6em;
        }
        h2 {
            color: $contrast-color;
            text-align: center;
            padding: 0 0 2vh 0;
            font-size: .8em;
        }
    }

    &__kaden-ideas {

        -moz-column-count:    1;
        -webkit-column-gap:   0px;
        -webkit-column-count: 1;
        -moz-column-gap:      0px;
        column-count:         1;
        column-gap:           0px;

        &--columns {
            border: solid 7px $light-text-color;
            h3 {
                width: 70%;
                margin: 0 auto;
                text-align: center;
                color: $contrast-color;
                border-bottom: 2px solid $contrast-color;
                padding: 2vh 0 1vh 0;
                @include media-md {
                    padding: 3vh 0 1vh 0;
                }
            }
            ul {
                padding: 1vh 2vw 1vh 5vw;
                min-height: 160px;
                li {
                    list-style-type: square;
                    line-height: 125%;
                    font-size: .8em;
                    @include media-md {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    &__photos {
        font-size: 2em;
    }
}