@import 'config';
@import 'menu';
@import 'home';
@import 'about';
@import 'accessibility';
@import 'photography';

.under-development {
    padding: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

h3, h4, p, figcaption, li, dt, dd, a {
    color: $dark-text-color;
    line-height: 140%;
}

h1 {
    font-size: $large-text-size;
}

h2 {
    font-size: $medium-text-size;
    font-weight: normal;
    line-height: 110%;
}

h3 {
    font-size: $medium-text-size;
    font-weight: 600;
}

h4 {
    font-size: $small-text-size;
    padding: 0 0 0 1em;
}

p, figcaption {
    font-size: $small-text-size;
    // padding: .5rem 1.5rem;
}

a {
    color: $accent-color;
}

li {
    font-size: $small-text-size;
    list-style-type: none;
    margin: 0 1rem;
}

dd, dt {
    font-size: $small-text-size;
    padding: 0 1.25rem;
}

.light-text {
    color: $light-text-color;
}

a {
    text-decoration: none;
    color: set-text-color($primary-color);
}

body {
    color: set-text-color($secondary-color);
    font-family: $font-style;
    background-color: white;
}

.text-secondary {
    color: $contrast-color;
}

.grid-content-layout {
    padding: 1.5vw;
}

.max-content {
    max-width: $max-content-width;
    margin: 0 auto;
}

@include media-md {
    .grid-content-layout {
        padding: 0;
    }
}

@include media-lg {
    .grid-content-layout {
        padding: 0 5.5rem 0 3rem;
    }
}

/********************************* SIDE NAVIGATION STYLING ****************************/

.side-nav {
    display: none;
    ul {
        overflow: hidden;
        position: fixed;
        font-size: $small-text-size;
        width: 100vw;
        bottom: 2.6rem;
        z-index: 100;
        background-color: $contrast-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-md {
            flex-direction: column;
            width: 6.5rem;
            right: 0;
            bottom: 25vh;
        }

        li {
            float: left;
            margin: 0;

            @include media-md {
                float: none;
            }

            a {
                &:hover {
                    background-color: $accent-color;
                    color: white;
                    @include transition-ease;
                }
                font-size: $small-text-size;
                color: $dark-text-color;
                padding: .25rem .75rem; 
                line-height: 200%;
                
                @include media-md {
                    float: right;
                    width: 100%;
                    line-height: 120%;
                }
            }
        }
    }

    @include media-md {
        position: absolute;
        z-index: 50;
        right: 0;
        bottom: 30%;
    }
}

.site-div {
    h2 {
        background-color: $secondary-color;
        color: $light-text-color;
        border-top: 55px solid white;
        text-align: center;
        line-height: 200%;
        width: 100%;
        font-weight: normal;
    }
}